<!-- BEGIN BREADCRUMBS -->
<div class="breadcrumbs">
    <h1>Dashboard</h1>
</div>
<!-- END BREADCRUMBS -->
<!-- BEGIN PAGE BASE CONTENT -->
<!-- BEGIN DASHBOARD STATS 1-->
<div class="row">
    <% @stats_collection.each do |stat| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 <%= stat.color ? stat.color : 'blue' %>" href="#">
            <div class="visual">
                <i class="fa <%= stat.icon ? stat.icon : 'fa-bar-chart-o' %>"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="<%= separate_comma(stat.stat) %>">0</span> SF
                </div>
                <div class="desc"> <%= stat.name %> </div>
            </div>
        </a>
      </div>
    <% end %>
</div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
          <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-dark hide"></i>
                    <span class="caption-subject bold font-dark uppercase"> Recent Templates</span>
                </div>
            </div>
            <div class="portlet-body">
                  <div class="row">
                    <% @documents.each do |document| %>
                      <div class="col-md-4">
                        <a data-toggle="modal" href="#responsive<%= document.id %>">
                          <div class="mt-widget-4">
                              <div class="mt-img-container">
                                  <%= image_tag(document.attachment.thumb.url) if document.attachment? %></div>
                              <div class="mt-container bg-dark-opacity">
                                  <div class="mt-head-title"> <%= document.name %> </div>
                                  <div class="mt-body-icons">
                                      
                                  </div>
                                  <div class="mt-footer-button">
                                      <button type="button" class="btn btn-circle btn-success btn-sm"><%= document.category.name %></button>
                                  </div>
                              </div>
                          </div>
                        </a>
                      </div>
                      <div id="responsive<%= document.id %>" class="modal fade" tabindex="-1" data-width="760">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Responsive</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div id="<%= no_spaces(document.name) %><%= document.id %>" class="col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <%= link_to "Download PowerPoint", document.ppt_url, class:"btn btn-outline dark" if document.ppt? %>
                            <%= link_to "Download Word", document.word_url, class:"btn btn-outline dark" if document.word? %>
                            <%= link_to "Download PDF", document.attachment_url, class:"btn btn-outline dark" if document.attachment? %>
                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            <%= link_to "More Information", document_path(document), class:"btn green" if document.attachment? %>
                        </div>
                      </div>
                      <script>PDFObject.embed("<%= document.attachment.url %>", "#<%= no_spaces(document.name) %><%= document.id %>");</script>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Recent Activities</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                      <% @activities.each do |activity| %>
                        <%= render_activity activity %>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->