<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <%= link_to image_tag("AY_Reverse.png"), defined?(root_path) ? root_path : "#", class: "page-logo" %>
                <!-- END LOGO -->
                <!-- BEGIN SEARCH -->
                  <%= form_tag(documents_path, :method => "get", id: "search-form", class: "search") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search Documents", class: "form-control" %>
                  <% end %>
                <!-- END SEARCH -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <!-- BEGIN USER PROFILE -->

                      <% if defined?(Devise) %>
                        <% if user_signed_in? %>
                          <div class="btn-group-img btn-group">
                            <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span>Account</span>
                            </button>
                            <ul class="dropdown-menu-v2" role="menu">
                                <li>
                                    <%= link_to "My Profile", edit_user_registration_path %>
                                </li>
                                <li>
                                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                                </li>
                            </ul>
                          </div>
                        <% else %>
                          <%= link_to "Login", new_user_session_path, class: "btn btn-solic blue" %>
                        <% end %>
                      <% end %>
                    <!-- END USER PROFILE -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-fw <%= active_controller(['landings', 'pages', 'users', 'documents'], "active open selected") %>">
                        <a href="javascript:;" class="text-uppercase">
                            Dashboard </a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="<%= active_controller(['landings'], "active") %>">
                                <%= link_to "HOME", root_path %>
                            </li>
                            <!-- <li class="<%= active_for_id(['about'], "active") %>">
                                <%= link_to 'ABOUT', page_path('about') %>
                            </li> -->
                            <li class="<%= active_controller_action("users", ['index'], "active") %>">
                              <%= link_to "DIRECTORY", users_path %>
                            </li>
                            <li class="<%= active_controller_action("users", ['show'], "active") %><%= active_controller_action("documents", ['edit'], "active") %>">
                              <%= link_to "ADMIN", user_path(current_user) if current_user.role == "admin" %>
                            </li>
                        </ul>
                    </li>
                    <% @categories_collection.each do |cat| %>
                        <% if cat.is_root? %>
                            <li class="dropdown dropdown-fw  <%= active_nav(cat, "active open selected") %>">
                              <%= link_to cat.name, "#", class: "text-uppercase" %>
                              <% if cat.has_children? %>
                                <ul class="dropdown-menu dropdown-menu-fw">
                                    <% cat.children.each do |sub| %>
                                      <li class="dropdown <%= active_nav(sub, "active selected") %> <%= 'more-dropdown-sub' if sub.has_children? %>">
                                        <%= link_to sub.name.upcase, category_path(sub) %>
                                          <% if sub.has_children? %>
                                            <ul class="dropdown-menu">
                                              <% sub.children.each do |subsub| %>
                                                <li class="<%= active_nav(subsub, "active selected") %>" >
                                                  <%= link_to subsub.name, category_path(subsub) %>
                                                </li>
                                              <% end %>
                                            </ul>
                                        <% end %>
                                      </li>
                                    <% end %>
                                </ul>
                              <% end %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!--/container-->
    </nav>
</header>
            <!-- END HEADER -->
