<%= form_for @document, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :desc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :desc, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, class: 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.select :category_id, @categories_doc %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "PDF", class: 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.file_field :attachment, :class => 'text-field form-control' %>
    </div>
    <div class="col-md-5">
      <% if @document.attachment? %> 
        <%= f.check_box :remove_attachment %>
        Remove <%= truncate @document.attachment.file.filename, length: 30 %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Word File", class: 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.file_field :word, :class => 'text-field form-control' %>
      <%= f.hidden_field :word_cache %>
    </div>
    <div class="col-md-5">
      <% if @document.word? %> 
        <%= f.check_box :remove_word %>
        Remove <%= truncate @document.word.file.filename, length: 30 %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "PowerPoint File", class: 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.file_field :ppt, :class => 'text-field form-control' %>
      <%= f.hidden_field :ppt_cache %>
    </div>
    <div class="col-md-5">
      <% if @document.ppt? %> 
        <%= f.check_box :remove_ppt %>
        Remove <%= truncate @document.ppt.file.filename, length: 30 %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  documents_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
