<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @document.desc %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @document.is_private %>
</p>

<p>
  <strong>Is writable:</strong>
  <%= @document.is_writable %>
</p>

<p>
  <strong>Category:</strong>
  <%= @document.category %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
