<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_stat.name %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @company_stat.stat %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @company_stat.desc %>
</p>

<p>
  <strong>Type:</strong>
  <%= @company_stat.type %>
</p>

<%= link_to 'Edit', edit_company_stat_path(@company_stat) %> |
<%= link_to 'Back', company_stats_path %>
